@keyframes spin-clockwise {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spin-counter {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

.animate-spin-clockwise {
  animation: spin-clockwise 1.5s linear infinite;
}

.animate-spin-counter {
  animation: spin-counter 1.5s linear infinite;
}
